<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.NamohTours">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
            <meta-data
            android:name="android.app.default_searchable"
            android:value=".Activity.Looking" />
        -->

        <activity
            android:name=".View.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Registration" />
        <activity
            android:name=".Activity.LeftDrawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.Passport" />
        <activity android:name=".Activity.WebUrl" />
        <activity android:name=".Activity.TourFilter" />
        <activity android:name=".Activity.Enquiry" />
        <activity android:name=".Activity.Login" />
        <activity android:name=".Activity.TourParentCategory" />
        <activity android:name=".Activity.Account" />
        <activity android:name=".Activity.ProductDescription" />
        <activity android:name=".Activity.TourProduct" />
        <activity android:name=".Activity.TourSubCategory" />
        <activity android:name=".Activity.TourSubSubCategory" />
        <activity android:name=".Activity.CategoryFilters" />
        <activity android:name=".Activity.SearchResults" />
        <activity android:name=".Activity.ChangePassword" />
        <activity android:name=".Activity.UserEditProfile" />
        <activity android:name=".Activity.Visa" />
        <activity android:name=".Activity.Notifications" />

        <!-- Firebase Notifications -->
        <service android:name=".Service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Activity.ForgetPassword" />
        <activity android:name=".Activity.ForexActivity" />
        <activity android:name=".Activity.TravelInsurance" />
        <activity android:name=".Activity.TourWishlistProduct" />
        <activity android:name=".Activity.EntertainMentActivity" />
        <activity android:name=".Activity.ProductOptionsActivity" />
        <activity android:name=".Activity.GetCartProductsActivity" />
        <activity android:name=".Activity.PaymentAddressActivity" />
        <activity android:name=".Activity.PaymentMethodActivity" />
        <activity android:name=".Activity.ConfirmOrderActivity" />
        <activity android:name=".Activity.OrderPayWebActivity" />
        <activity android:name=".Activity.OrderPlacedActivity" />
        <activity android:name=".Activity.UserOrderHistoryActivity" />
        <activity android:name=".Activity.OrderHistoryDetailActivity" />
        <activity android:name=".Activity.UserDocumentActivity" />
        <activity android:name=".Activity.UserDocumentbyOrderIdActivity"></activity>
    </application>

</manifest>